<style>
body {
  font-family: 'Helvetica', sans-serif;
  max-width: 700px;
  margin: 40px auto;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
}


a {
  color: #1a73e8;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2 {
  margin-top: 2rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.3rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0.5rem;
}
</style>
